body {
    background-image: url("moc2Skup3.png");
    opacity: 0.5;
    background-repeat: no-repeat;
    margin: 3px;
}
    

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.sidepicture{
    width: 200px;
    height: 258px;
    background-image: url("hand.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.namecard{
    width: 250px;
    height: 258px;
    margin-left: 20px;
}

h1{
    font-size: large;
}
p{

}
button{
  background-color: white  ;
  border: none;  
}
button :hover{
background-color: palegoldenrod;
}

.josiah {
    width: 50px;
    height: 50px;