body {  
    font-family: 'Merriweather Sans', sans-serif;
}
.container{
    display: flex;
    width: 490px;
    border: 1px solid #eeeeee;
}
.sidepicture{
    width: 200px;
    background-image: url("hand.png");
    background-repeat: no-repeat;
    background-size:contain;
    
}
.namecard{
    width: 250px;
    height: 258px;
    margin-left: 20px;
    display:flex;
    flex-direction: column;
}


h1 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: bold;
}

h2 {
    font-size: 14px;
    font-weight: 300;
    word-spacing: 2px;
    color: grey;
}

.bottompart{
    margin-top: 40px;
    text-align: right;
    
    
}
.grayzone{
    width:125px;
    margin:0px;
    display: inline-block;
    color:black;
    padding-top: 11px;
    margin-bottom: 11px;
    font-size: 12px;
}
.color{
    color:grey; 
}
.favicon{
  background-color: white  ;
  border: none;  
  align-self: flex-end;
  padding-left: 30px;
  
  
}
button :hover{
background-color: palegoldenrod;
}

.josiah {
    justify-items: flex-start;
    width: 40px;
    height: 40px;
    object-fit: fill;
    
}














    .mockup {
        
        opacity: 1;
        margin: 0px;
        padding: 0px;
    }